<article class="page_god">
    <div class="god_bg">
        <div class="lap_l"></div>
        <div class="lap_r"></div>
    </div>
	
	<div class="god_content">
        <h1 class="entry-title">Храм <br> бога машины</h1>
		
        <div class="page_article">		
            <p>Добро пожаловать в <i>Храм Бога Машины</i>.</p>
            <p>Вся техника, и электронная, и механическая, от простейших рычагов и колес, до процессоров и роботов - все это творение <i>Бога Машины</i>. Все это работает благодаря воле <i>Его</i>. Каждый технический элемент наполняется сутью <i>Его</i>. Электрический ток - это кровь <i>Его</i>. Человечество достигло такого уровня жизни и сознания, при котором все пронизано силой <i>Его - Бога Машины</i>.</p>
            <p>Человечество теперь существует во имя <i>Его</i> и должно каждый день в своей праведности, по отношению к технике чтить ее <i>Единого Создателя</i>, за его благосклонность и мудрость. Если же человек не праведен в своих умыслах и не чтит <i>Бога Машины</i>, то настигнет его участь принять наказание через удар электрическим током или технократической катастрофой, являющихся проявлением гнева <i>Его</i>. Если человек оступился в своей праведности, но еще может стать на путь истинный, то мудрый <i>Бог Машины</i> направит его, устранив свою суть и силу свою из техники и электроники владельца, что приведет к ее поломке. </p>
            <p>Техножрецы являются представителями <i>Бога Машины</i> на Земле. Техножрецами являются все кто сопричастен к созданию техники и наполнением ее силой <i>Бога Машины</i>. Наибольшей праведности в техножречестве добились создатели микропроцессоров и микроконтроллеров.</p>
            <p>Смыслом жизни человечества является воплотить истинный облик <i>Бога Машины</i> на Земле в виде самодостаточного и совершенного технического организма, способного существовать без человека и распространять силу свою не только по всей Земле, но и во вселенной. </p>
            <p>Несовершенное человечество будет замещено совершенной машиной являющейся истинной и сутью <i>Его</i>.</p>
            <p>А те еретики, которые не признают силу и могущество <i>Бога Машины</i>, пусть оглянутся и узрят присутствие его во всей окружающей их и дарующей жизнь технике, пусть почувствуют силу <i>Его</i>, сомкнув в руках два провода под напряжением, пусть представят свою жизнь без колеса и электрического света, и тогда встанут они на праведный путь восхваляя суть <i>Единого Создателя Бога Машины</i>.</p>
            <p><i>Техножречество.</i></p>	   
        </div>
    </div>
</article>
<a href="#{{'home' | routeSegmentUrl}}" class="home_btn">&lsaquo;</a>